<%- include('partials/head') %>
    <title>
        <%= name %>
    </title>
    </head>

    <body>

        <%- include('partials/nav') %>

            <h1>Browsing the
                <%= name %> subreddit</h1>
            <h2>
                <%= description %>
            </h2>
            <h2>
                <%= subscribers %> Total Subscribers </h2>
            <% for(let post of posts) { %>
                <article>
                    <h3>
                        <%= post.title  %> -
                            <%= post.author %>
                    </h3>
                    <% if(post.img) { %>
                        <img src="<%= post.img %>" alt="">
                        <% }  %>
                </article>
                <% } %>
    </body>

    </html>